#menu-toggle {
    margin-bottom: 1em;
    margin-left: 7em;
}

#sidebar-wrapper {
    background: lightgray;
    height: 100%;
    overflow-y: auto;
    position: fixed;
    width:18%;
    right: 0;
    box-shadow: 4px 0px 5px 10px #aaaaaa;
    z-index: 10;
}

#itemsidebar {
    padding-left: 1.75em;
    padding-right: 1.75em;
    margin-left: 3em;
    text-align: center;
    margin-top: 2em;
    font-weight: bold;
    font-size: 1.5em;
    border-bottom: 1px solid #428bca;

}

.sidebar-wrapper p{
    text-align: center
}

#new-sort {
    margin-left: 7.5em;
    margin-top: 1.5em;
}

#step-row {
    position: absolute;
    bottom: 4em;
}

.step-buttons {
    margin: 1.5em;
}

.node {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    font-size: 50px;
    color: #fff;
    line-height: 1.25em;
    text-align: center;
    background: lightgreen;
    border: 4px double transparent;
    display: inline-table;
}

.hidden {
    visibility: hidden;
}

#tree-table {
    text-align: center;
}

#tree-table td{
    border: 1px solid transparent;
}

svg.jtk-connector{
    z-index: -10;
}

.swap-node {
    background: #dfee46;
}

.remove-node {
    background: black;
}

#info-container {
    width:82%;
    left: 0;
    position: fixed;
}

#finalButton {
    margin-top: 1em;
}

#stepButton {
    margin-top: 1em;
    float: right;
}